@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

$grey: #ccc;
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html, body {
    height: 100%;
    min-height: 100%;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    font-size: 1em;
    background-color: $grey;
    letter-spacing: 5px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color:$grey;
    display: block;
    text-align: center;
}
a:hover {
    color:#ffcc00;
}

button, input {
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    outline: none;
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.main {
    width: 750px;
    height: 500px;
    box-shadow:  0px 30px 30px -5px rgba(0, 0, 0, 0.27);
    background-color:#222;
    display: flex;
}
.buttons__item {width: 250px;
    height:  250px;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: cover ;
    line-height: 250px;
    cursor: pointer;
    color: $grey;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.buttons__item:hover {
    opacity: 0.9;
    color:#ffcc00;
}
.signIn {
    background-image: url(./../static/img/1.jpg);
    background-position: center;
}
.signUp {
    background-image: url(./../static/img/2.jpg);
}
form {
    width: 500px;
    height: 400px;
    color:rgba(153, 153, 153, 0.50);
    align-items: flex-start;
    padding: 100px 50px;
    position: relative;
}
input {
    color: $grey; 
     width: 400px;
     height: 40px;
     background-color:rgba(0, 0, 0, 0);
     border:none;
     border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
     margin: 20px 0px;
     text-transform: uppercase;
     outline: none; 
        
 }
 .userPassword {
     color:#ffcc00;
 }
 .active {
    color:#ffcc00;
    opacity: 0.7;
}
.checkbox {
    width:auto;
    height: auto;
    opacity: 0.5;
}
.greyDecor {
    background-color: #333;
    width:400px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color:#777;
    text-transform: uppercase;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.letMeIn {
    width: 100px;
    height: 100px;
    background-color: #ffcc00;
    position: relative;
    float: left;
    cursor: pointer;
}
.letMeIn::after {
    display: block;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    left:38px;
    top:40px;
    
}
.letMeIn:hover {
    background-color: #777;
}
[class^=label] {
position: absolute;
left: 50px;
font-size: 0.8em;
}
.labelName {
top: 110px;
}
.labelPassword {
top: 190px;
}
.labelEmail {
top: 270px;
}
.labelCheckbox {
left: 75px;
top: 358px;
}




